@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,100;1,300;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  min-height: 90vh;
  z-index: 10;
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 3rem;
}

.main-txt h2 {
  font-weight: 700;
}
.sub-txt {
  padding: 1.5rem;
  display: flex;
  align-items: center;
}
.sub-txt p {
  padding: 0rem 2rem;
  font-style: 400;
}

/* //toggle buton */

input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 50px;
  height: 25px;
  background: rgb(131, 141, 230);
  display: block;
  border-radius: 100px;
  position: relative;
}

label:after {
  content: "";
  position: absolute;
  top: 1px;
  left: 1.5px;
  width: 23px;
  height: 22px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}
input:checked + label {
  background: hsl(234, 14%, 74%);
}
input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

/* // End toggle buton */

/* Individual Boxes */

.style-top {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -10;
}
.style-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -10;
}

.main-container {
  min-height: 50vh;
  margin: 2rem 0rem;
}

.sub-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.sub-container .boxes {
  background: #fff;
  box-shadow: 5px 2px 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  height: 370px;
  width: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: rgb(30, 30, 30);
  overflow: hidden;
}
.sub-container .uniqbox {
  background: rgb(131, 141, 230);
  min-height: 420px;
  width: 300px;
  border-radius: 10px;
}
.sub-container .uniqbox .boxes2 {
  height: 390px;
  width: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: #fff;
  overflow: hidden;
  margin-top: 1rem;
}

.sub-container .uniqbox .boxes2 h1 {
  font-size: 50px;
  font-weight: bolder;
  font-style: normal;
  text-align: center;
}

.sub-container .uniqbox .boxes2 p {
  font-size: 14px;
}

.sub-container .uniqbox .boxes2 .btn {
  border: none;
  background: white;
  padding: 0.5rem 0.5rem;
  width: 80%;
  color: rgb(131, 141, 230);
  align-self: center;
  border-radius: 5px;
  cursor: pointer;
}
.sub-container .boxes .btn {
  border: none;
  background: rgb(131, 141, 230);
  padding: 0.5rem 0.5rem;
  width: 80%;
  color: white;
  align-self: center;
  border-radius: 5px;
  cursor: pointer;
}
.sub-container .boxes .btn:hover {
  background-color: rgba(101, 101, 233, 0.795);
}
.sub-container .boxes2 .btn:hover {
  background-color: rgb(176, 182, 240);
  color: white;
}

.sub-container .boxes h1 {
  font-size: 50px;
  font-weight: bolder;
  font-style: normal;
  text-align: center;
}

.sub-container .boxes p {
  font-size: 14px;
}
.sub-container .boxes h1::before {
  content: "\0024";
}
.sub-container .boxes2 h1::before {
  content: "\0024";
}
hr {
  width: 80%;
  align-self: center;
}
.attribution {
  margin: 2rem;
  text-align: center;
}
